@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
    --background: #1B1B1E;
    --border: #474747;
    --text: #D8DBE2;
}

@media only screen and (max-width: 560px) {
    body * {
        visibility: hidden;
    }
    body {
        background-color: green;
    }
}

* {
    font-family: 'Comfortaa', sans-serif;
}

body {
    margin: 0px;
    height: 100vh;
    /* margin-top: -5px; */
}

#root {
    height: 100%;
}
